.accountBox {
  width: 100%;
  max-width: max-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.accountIcon{
  font-size: 2rem;
}
.accountBox span {
  font-size: 1rem;
  margin: 0 0.5rem;
  text-transform: capitalize;
}
.mobileAccountBox {
  width: 100%;
  max-width: max-content;
}
.mobileAccountBox .account .accountIcon{
  font-size: 1.3rem;
}
.mobileAccountBox span{
  display: none;
}
@media screen and (max-width:1100px) {
  .accountBox{
    /* height: 2.5rem; */
    max-width: max-content;
  }
  .accountIcon{
  font-size: 1.5rem;
}
  .accountBox span {
  font-size: 1rem;
}
}
