.wrapper {
  width: 100%;
  max-width: max-content;
  position: relative;
}
.accountBox {
  width: 100%;
  max-width: max-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.accountIcon {
  font-size: 2rem;
}
.accountBox span {
  font-size: 0.85rem;
  margin: 0 0.4rem;
  text-transform: capitalize;
}
.accountBox:hover span{
  color: #EDEDED;
}
.mobileAccountBox {
  width: 100%;
  max-width: max-content;
}
.mobileAccountBox .account .accountIcon {
  font-size: 1.3rem;
}
.mobileAccountBox span {
  display: none;
}
.options {
  width: 11rem;
  height: 12rem;
  padding: 1rem 0;
  position: absolute;
  top: 2.5rem;
  background-color: #ededed;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  z-index: 20;
  display: none;
}
.openBox{
  display: flex;
}
.option {
  width: 100%;
  color: black;
  font-style: italic;
  padding: 0.2rem 0;
  padding-left: 0.8rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
}
.option:hover{
  background-color: #fff;
}
@media screen and (max-width: 1100px) {
  .accountBox {
    max-width: max-content;
  }
  .accountIcon {
    font-size: 1.5rem;
  }
  .accountBox span {
    font-size: 1rem;
  }
}
