.wrapper{
  width: 100%;
  max-width: max-content;
}
.title{
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.link{
  max-width: max-content;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.link:last-child{
  margin-bottom: 0;
}
.link:hover{
  text-decoration: underline;
}
.link::first-letter{
  text-transform: capitalize;
}
@media screen and (max-width: 900px) {
  .title{
  font-size: 1.3rem;
}
.link{
  font-size: 1.1rem;
}
}
@media screen and (max-width: 650px) {
.title{
  font-size: 1.5rem;
}
.link{
  font-size: 1.2rem;
}
}