.wrapper {
  /* border: 1px red solid; */
  width: 100%;
  background-color: #fff;
}
.wrapper .container{
  /* border: 1px red solid; */
  width: 100%;
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
@media screen and (max-width:1100px) {
  .wrapper .container{
  padding: 1rem 2rem;
}
}

@media screen and (max-width:650px) {
  .wrapper .container{
  display: none;
}
}
