.wrapper {
  width: 100%;
  background-color: #fff;
}
.wrapper .container{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}
.navRule{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.nav{
  width: 100%;
  padding: 0.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.option{
  width: 100%;
  max-width: max-content;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.option:hover{
  color: red;
}
@media screen and (max-width:1100px) {
  .wrapper .container{
  padding: 1rem 2rem;
}
}

@media screen and (max-width:650px) {
  .wrapper .container{
  display: none;
}
}
